/Code
/dconf
/discord
/font-manager
/fontconfig
/google-chrome
/gtk-2.0
/gtk-3.0
/htop
/JetBrains
/mimeapps.list
/mpd
/mpv
/ncmpcpp
/nitrogen
/obs-studio
/pavucontrol.ini
/pulse
/QtProject.conf
/systemd
/Thunar
/user-dirs.dirs
/user-dirs.locale
/xarchiver
/xfce4
/yay
/nvim
/VirtualBox
